.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box {
    width:30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#username, #firstName, #lastName {
    font-size: large;
}
#firstName:hover, #lastName:hover, #username:hover {
    font-size: larger;
}
input[type=text] {
    width:80%;
    padding: 10px;
    background-color: #028844;
    color: white;
    border: none;
    text-align: center;
    border-radius: 4px;
}