body {
    background-color: aliceblue;
}
p, label {
    font-size: large;
    width:fit-content;
    font-weight: bold;
}
#firstName #lastName #username {
    background-color: white;
    color:black;
    width:fit-content;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    float: left;
}
#firstName:hover, #lastName:hover, #username:hover {
    color: #028844;
}
input[type=text] {
    width: 20%;
    padding: 10px 20px;
    background-color: #028844;
    color:white;
    border:none;
}
/* https://www.w3schools.com/css/css_form.asp */
/* Got help from this site */
button {
    width:fit-content;
    padding: 10px 5px;
    border:none;
    background-color: #0076d6;
}