.heading-center {   
    text-align: center;
    padding-bottom:20px;
    margin:0;
}
.emoji {
    font-size: 40px;
    text-align: center;
}
.form-text {
    font-size: larger;
}
#adminQuizMoods {
    /* text-align: center;
    vertical-align: middle;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    align-items: center;
} */
th {
    text-align: center;
    width: 25%;
}
td {
    text-align: center;
    display: flex;
    width: 25%;
    float:inline-start;
}