.nice-table {
    margin:0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}
.emoji {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    align-items: center;
}
.form-text {
    font-size: larger;
    text-align: center;
    margin: 0;
    align-items: center;
}
th {
    width: 30%;
    text-align: center;
}
td {
    width: 30%;
}
tr {
    width:100%;
}
.table-data {
    width:100%;
}