body {
  padding: 0%;  
}

#bannerImage {
  width: 100%;
  display: flex;
}
.banner {
  position:relative;
  text-align: left;
  color: black;
  font-size: large;
}
#Mid-Centre {
  background-color: rgba(128, 128, 128, 0.5);
  padding-right: 10px;
  padding-left: 10px;
  position: absolute;
  bottom: 40%;
}
#CreateSect {
    margin: 20px;
    margin-bottom: 0;
}

#SubmitSect {
    margin-left: 20px;
}

.Hide {
    visibility: hidden;
    position:absolute;
}
.Answer {
    width: 60%;
}
.Answers {
  width: 77%;
}

.BtnAdd {
    margin-top: 10px;
}
.BtnSub {
    margin-bottom: 10px;
}
.AddTake {
  align-items: center;
  justify-content: center;
  display: flex;
}
#bland {
    background: #0076d6;
    color:white;
    border: 2px;
    width: 33px;
    font-weight: bold;
    text-align: center;
    height: 21px;
}
.MakeQuiz {
    background-color: white;
    margin: 25%;
    margin-top: -20%;
    border-radius: 25px;
    box-shadow: 5px 8px 10px 5px rgba(0,0,0,.8);
}
.Question {
    background-color: #cdcdcd;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.8);
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Not {
    background: #838383;
    color:white;
    border: 0px;
    font-weight: bold;
    color:#838383;
    margin:0.1em;
}
.is {
    background: #0076d6;
    color:white;
    border: 0px;
    font-weight: bold;
    color:#0076d6;
    margin:0.1em;
}
#bland:hover{
    background:#0066b9;
}

#fancy{
  background-color: #028844;
  padding: 5px;
  height: 40px;
  width: 120px;
  margin-left: 1%;
  margin-top: 0;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}