body {
    background-color: #68bbff; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #68bbff, #02467d);

  }
#CreateSect {
    margin: 20px;
    margin-bottom: 0;
}

#SubmitSect {
    margin-left: 20px;
}

.Hide {
    visibility: hidden;
    position:absolute;
}
.Answer {
    width: 60%;
}
.Answers {
  width: 77%;
}

.BtnAdd {
    margin-top: 10px;
}
.BtnSub {
    margin-bottom: 10px;
}
.AddTake {
  align-items: center;
  justify-content: center;
  display: flex;
}
#bland {
    background: #0076d6;
    color:white;
    border: 2px;
    width: 33px;
    font-weight: bold;
    text-align: center;
    height: 21px;
}
.MakeQuiz {
    background-color: white;
    margin: 25%;
    margin-top: 5%;
    border-radius: 25px;
    box-shadow: 5px 8px 10px 5px rgba(0,0,0,.8);
}
.Question {
    background-color: #cdcdcd;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.8);
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Not {
    background: #838383;
    color:white;
    border: 0px;
    font-weight: bold;
    color:#838383;
    margin:0.1em;
}
.is {
    background: #0076d6;
    color:white;
    border: 0px;
    font-weight: bold;
    color:#0076d6;
    margin:0.1em;
}
#bland:hover{
    background:#0066b9;
}


/* https://codepen.io/t_afif/pen/bGooZmq */
#Nothing {
    --border: 5px;    /* the border width */
    --slant: 0.7em;   /* control the slanted corners */
    --color: #838383; /* the color */
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: 
       linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
       linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
      0 0 0 200px inset var(--s,#0000),
      0 0 0 var(--border) inset var(--color);
    clip-path: 
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
                100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
               );
    transition: color var(--t,0.3s), background-size 0.3s;
  }
 #Nothing:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
  }
#Nothing:hover, button:active{
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
  }
#Nothing :active {
    --s: #0005;
    transition: none;
  }



#Fancy {
    --border: 5px;    /* the border width */
    --slant: 0.7em;   /* control the slanted corners */
    --color: #0076d6; /* the color */
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: 
       linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
       linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
      0 0 0 200px inset var(--s,#0000),
      0 0 0 var(--border) inset var(--color);
    clip-path: 
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
                100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
               );
    transition: color var(--t,0.3s), background-size 0.3s;
  }
 #Fancy:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
  }
 #Fancy:hover, button:active{
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
  }
#Fancy :active {
    --s: #0005;
    transition: none;
  }
/* https://codepen.io/t_afif/pen/bGooZmq */