.big-text {
    text-align: center;
    font-size: 5vw;
}
.huge-text {
    text-align: center;
    font-size: 20vw;
}
.center-flex-container {
    display: flex;
    justify-content: center;
}
#playButton {
    background-color: #028844;
    font-size: 150%;
    padding: 10px;
}