.big-text {
    text-align: center;
    font-size: 4vw;
    margin: 0;
}
.huge-text {
    text-align: center;
    font-size: 16vw;
    padding-top: 0;
}
.center-flex-container {
    display: flex;
    justify-content: center;
}
#play-button {
    background-color: #028844;
    font-size: 150%;
    padding: 10px;
}