body{
  padding:0;
  margin: 0;
  background-image: url('/static/img/Quiz.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.SelectSection{
  z-index: -1;
  position:relative;
  text-align: left;
  color: black;
  font-size: x-large;
  background-color: rgba(128, 128, 128, 0.5);
  padding-right: 10px;
  padding-left: 10px;
  position: absolute;
} 

.Select {
  margin: 12%;
  margin-top: 5%;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.QuizList{
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  margin:30%;
  margin-top: 10%;
  background-color: white;
  box-shadow: 5px 8px 10px 5px rgba(0,0,0,.8);
  border-radius: 25px;
  padding: 2%;
} 

.Inputs input, button{
  text-align: center;
  width: auto;
  height: auto;
  font-size: 20px;
  font-family: 'Lucida Handwriting Std', sans-serif;
  box-shadow: 5px 8px 10px 5px rgba(0,0,0,.8);
  background-color: white;
  color: black;
  border-radius: 25px;
}

body p{
  visibility: hidden;
}
.navbar-legal-and-general p{
  visibility: visible;
}