body {
    background-color: #68bbff; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #68bbff, #02467d);
}
.SelectSection{
  text-align: center;
  width: auto;
  height: auto;
  font-size: 60px;
  font-family: 'Lucida Handwriting Std', sans-serif;
  box-shadow: 5px 8px 10px 5px rgba(0,0,0,.8);
  background-color: white;
  color: black;
  border-radius: 25px;
  border: 2px solid black;
} 

.Select {
  margin: 12%;
  margin-top: 5%;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.QuizList{
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
} 

.Inputs input, button{
  text-align: center;
  width: auto;
  height: auto;
  font-size: 20px;
  font-family: 'Lucida Handwriting Std', sans-serif;
  box-shadow: 5px 8px 10px 5px rgba(0,0,0,.8);
  background-color: white;
  color: black;
  border-radius: 25px;
}

#DATA {
  visibility: hidden;
}