body {
    margin:0;
    padding:0;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


button, input[type=text] {
    width:30px;
}






input[type=text] {
    width: 139.7px;
    padding: 5px 5px;
    background-color: #0076d6;
    color:white;
    border:none;
    border-radius: 4px;
    text-align: center;
}
/* https://www.w3schools.com/css/css_form.asp */
/* Got help from this site */
.btn {
    width:fit-content;
    background-color: #028844;
    margin-top: 3px;
    margin-bottom: 3px;
}
.li{
    size: 10px;
    border: black;
}