.loginBox {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px white solid;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    width: fit-content;
}
.loginBox h1 {
    margin-top: 0;
}
.loginBox input {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.loginBox button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #0076D6;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
span {
    color: red;
}
#securityQuestion{
    padding: 10px;
}
.log-in-half {
    float: left;
    width: 300px;
    margin: 25px;
}
.login-logo img {
    width: 150px;
    height: auto;
}
.login-logo {
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}