.inputBoxs {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
}
.quizPathBox {
    margin: 100px auto;
    margin-top: 5%;
    width: 300px;
    padding: 20px;
    border: 1px white solid;
    border-radius: 5px;
    background-color: white;
    float: left;
    margin-bottom: 0px;
}
.quizPathBox h1 {
    margin-top: 0;
}
.quizPathBox input {
    width: 92%;
    height: 30px;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 150%;
    text-align: center;
}
.quizPathBox button {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    background-color: lightgray;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 150%;
}
#hostForm:valid .button {
    background-color: #0076D6
}
#joinForm:valid .button {
    background-color: #0076D6
}
.createQuizButton{
    display: inline;
    margin: 26.5%;
    margin-top: 10px;
}
.createQuizButton button {
    width: 47%;
    height: 70px;
    padding: 10px;
    margin-top: 10px;
    background-color: #0076D6;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 150%;
}