label {
    text-align: center;
}

#loginForm {
    justify-content: center;
    display:flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

#password {
    text-align: center;
    margin-left: 9px;
}