.heading-center {   
    text-align: center;
    padding-bottom:20px;
    margin:0;
}
#emoji {
    font-size: 40px;
}
#quizTitle {
    padding-top: 24px;
    font-size: larger;
}
#quizMoods {
    text-align: center;
    vertical-align: middle;
}