.heading-center {   
    text-align: center;
    padding-bottom:20px;
    margin:0;
}
.emoji {
    font-size: 40px;
}
.form-text {
    padding-top: 24px;
    font-size: larger;
    margin: 0;
    top:50%;
}
#quizMoods, #quizScores {
    text-align: center;
    vertical-align: middle;
}
th {
    text-align: center;
    width: 33%;
}
.vertical-center {
    margin-top: 16px;
    vertical-align: middle;
}
.emoji .vertical-center {
    margin-top: 0;
    margin-bottom: 6px;
}