{% extends 'mainTemplate.html'%}
{% block mainBlock%}
<!-- <link rel="stylesheet" href="static/CSS/Account_Details.css"> -->
<h1>Account details</h1>
{% endblock%}

{% block mainBody%}
<section title="details">
    <p>First name:</p>
    <section id="firstNameData" label="first name">
    <p id="firstName">Undefined</p>
    </section>
    <p>Last name:</p>
    <section id="lastNameData" label="last name">
    <p id="lastName">Undefined</p>
    </section>
    <p>Username:</p>
    <section id="usernameData" label="username">
    <p id="username">Undefined</p>
    </section>
</section>
<style>
    body {
        background-color: aliceblue;
        /* display:flex;
        -ms-flex-align: center; */
    }
    p, label {
        font-size: large;
        width:fit-content;
        font-weight: bold;
    }
    #firstName #lastName #username {
        background-color: aliceblue;
        color:black;
        width:fit-content;
        font-family:'Times New Roman', Times, serif;
        display: flex;
        float: left;
    }
    #firstName:hover, #lastName:hover, #username:hover {
        color: #8989fe;
    }
    input[type=text] {
        width: 20%;
        padding: 10px 20px;
        background-color: #8989fe;
        color:aliceblue;
        border:none;
    }
    /* https://www.w3schools.com/css/css_form.asp */
    /* Got help from this site */
    button {
        width:fit-content;
        padding: 10px 5px;
        border:none;
        background-color: #91f191;

    }
</style>
<!-- <script src="static/JS/Account_Details.js"></script> -->
<script>
// Completing an AJAX request on page load
document.addEventListener("DOMContentLoaded", getDetails())
// Setting event listeners for each variable
document.getElementById("firstNameData").addEventListener("click", editFirstName);
document.getElementById("lastNameData").addEventListener("click", editLastName);
document.getElementById("usernameData").addEventListener("click", editUsername);

function editFirstName() {
    // Executes when the first name is clicked, creating a new form
    if(document.getElementById("firstForm")) {
        console.log("Form already open")
    }
    else {
    user = window.location.pathname.split("/").pop()
    newRoute = "/updateFirstname/" + user
    const labelForm = document.createElement("label")
    labelForm.innerHTML = "Enter new first name:";
    labelForm.setAttribute("for","newFirstname");
    const firstForm = document.createElement("form");
    const newFirst = document.createElement("input");
    const button = document.createElement("button");
    firstForm.id = "firstForm";
    newFirst.setAttribute("type","text");
    newFirst.id = "newFirstname";
    newFirst.setAttribute("name","newFirstname")
    button.setAttribute("type","submit");
    button.innerHTML = "Change first name";
    firstForm.appendChild(labelForm);
    firstForm.appendChild(document.createElement("br"))
    firstForm.appendChild(newFirst);
    firstForm.appendChild(button);
    document.getElementById("firstNameData").appendChild(firstForm);
    document.getElementById("firstForm").setAttribute("action",newRoute)
    document.getElementById("firstForm").setAttribute("method","post")
    }
}

function editUsername() {
    // Executes when the username is clicked, creating a new form
    if(document.getElementById("userForm")) {
        console.log("Form already open")
    }
    else {
    user = window.location.pathname.split("/").pop()
    newRoute = "/updateUsername/" + user
    const labelForm = document.createElement("label")
    labelForm.innerHTML = "Enter new username:";
    labelForm.setAttribute("for","newUsername");
    const firstForm = document.createElement("form");
    const newFirst = document.createElement("input");
    const button = document.createElement("button");
    firstForm.id = "userForm";
    newFirst.setAttribute("type","text");
    newFirst.id = "newUsername";
    newFirst.setAttribute("name","newUsername")
    button.setAttribute("type","submit");
    button.innerHTML = "Change username";
    firstForm.appendChild(labelForm);
    firstForm.appendChild(document.createElement("br"))
    firstForm.appendChild(newFirst);
    firstForm.appendChild(button);
    document.getElementById("usernameData").appendChild(firstForm);
    document.getElementById("userForm").setAttribute("action",newRoute)
    document.getElementById("userForm").setAttribute("method","post")
    }
}

function editLastName() {
    // Executes when the last name is clicked, creating a new form
    if(document.getElementById("lastForm")) {
        console.log("Form already open")
    }
    else {
    user = window.location.pathname.split("/").pop()
    newRoute = "/updateLastname/" + user
    const labelForm = document.createElement("label")
    labelForm.innerHTML = "Enter new last name:";
    labelForm.setAttribute("for","newLastname");
    const firstForm = document.createElement("form");
    const newFirst = document.createElement("input");
    const button = document.createElement("button");
    firstForm.id = "lastForm";
    newFirst.setAttribute("type","text");
    newFirst.id = "newLastname";
    newFirst.setAttribute("name","newLastname")
    button.setAttribute("type","submit");
    button.innerHTML = "Change last name";
    firstForm.appendChild(labelForm);
    firstForm.appendChild(document.createElement("br"))
    firstForm.appendChild(newFirst);
    firstForm.appendChild(button);
    document.getElementById("lastNameData").appendChild(firstForm);
    document.getElementById("lastForm").setAttribute("action",newRoute)
    document.getElementById("lastForm").setAttribute("method","post")
    }
}

function getDetails() {
    // Fills in the details in the HTML page with database info
    user = window.location.pathname.split("/").pop()
    newRoute = "/updateInfo/" + user
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET",newRoute,true);
    xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4) {
            if (xhttp.status === 200) {
                var text = xhttp.responseText;
                if (text === "None") {
                    document.getElementById("firstName").innerHTML = "Please sign in";
                } else {
                    jsonTuple = JSON.parse(text)
                    let firstname = jsonTuple[0]
                    let lastname = jsonTuple[1]
                    let username = jsonTuple[2]
                document.getElementById("firstName").innerHTML = firstname;
                document.getElementById("lastName").innerHTML = lastname;
                document.getElementById("username").innerHTML = username;
            }
            } else {
                console.error(xhttp.statusText);
            }
        }
    };
    xhttp.send();
}
</script>
{% endblock%}