{% extends 'mainTemplate.html'%}
{% block linkBlock%}
<link rel="stylesheet" href="/static/CSS/Account___Details.css">
{% endblock%}
{% block mainBlock%}
<h1>Account details</h1>
{% endblock%}

{% block mainBody%}
<section title="details">
    <p>First name:</p>
    <section id="firstNameData" label="first name">
    <p id="firstName">Undefined</p>
    </section>
    <p>Last name:</p>
    <section id="lastNameData" label="last name">
    <p id="lastName">Undefined</p>
    </section>
    <p>Username:</p>
    <section id="usernameData" label="username">
    <p id="username">Undefined</p>
    </section>
</section>
<form action = "/login">
    <button type="submit">Log out</button>
</form>
<script src="/static/JS/Account_Details.js"></script>
{% endblock%}