{%extends 'mainTemplate.html'%}
{% block mainBlock%}
<link rel="stylesheet" href="/static/CSS/Log on.css">
{% endblock%}

{% block mainBody%}
<section class="loginBox">
    <h1>CREATE ACCOUNT</h1>
    <form name = "createAccount" action = "/usernameExist" method = "post">
        <label for="firstName">First Name:</label></br>
        <input type="text" id = "firstName" name = "firstName" required></br>
        <label for="lastName">Last Name:</label></br>
        <input type="text" id = "lastName" name = "lastName" required></br>
        <label for="username">Create a username:</label></br>
        <input type="text" id = "username" name = "username" required></br>
        <label for="password">Create a password:</label></br>
        <input type="password" id = "password" name = "password" required></br>
        <!-- <label for="password2">Re-enter the password:</label></br>
        <input type="password" id = "password2" name = "password2"></br> -->
        <button type="submit">Create Account</button>
    </form><br>
    <label for="backToLoginButton">Already have an account? Log in here.</label>
    <form name = "backToLogin" action = "/" method="get">
        <button id="backToLoginButton" type="submit">Login</button>
    </form>
</section>

{% endblock%}
