{%extends 'mainTemplate.html'%}
{% block mainBlock%}
<link rel="stylesheet" href="/static/CSS/Log on.css">
{% endblock%}

{% block mainBody%}
<section class="loginBox create-account-box">

    <form name = "createAccount" action = "/usernameExist" method = "post">
        <div class="log-in-half">
            <h2>Create Account</h2>
            <label for="firstName">First Name:</label>
            <input type="text" id = "firstName" name = "firstName" required>
            <label for="lastName">Last Name:</label>
            <input type="text" id = "lastName" name = "lastName" required>
            <label for="username">Create a username:</label>
            <input type="text" id = "username" name = "username" required>
            <label for="password">Create a password:</label>
            <input type="password" id = "password" name = "password" required>
        </div>
        <div class="log-in-half">
            <h2 class="for-margin">-</h2>
            <label for="securityQuestion">Security Question:</label>
            <select id="securityQuestion" name="securityQuestion" required>
                <option>What is the name of your first pet?</option>
                <option>In what city were you born?</option>
                <option>What was your childhood nickname?</option>
                <option>What is the middle name of your oldest sibling?</option>
            </select>
            <label for="securityAnswer">Answer</label>
            <input type="text" id="securityAnswer" name="securityAnswer" required>   
            <button class="create-account" type="submit">Create Account</button>
            <label for="backToLoginButton">Already have an account? Log in here.</label>
    </form>            
            <form name = "backToLogin" action = "/" method="get">
                <button id="backToLoginButton" type="submit">Login</button>
            </form>
        </div>

</section>

<section>
    
</section>
{% endblock%}
{% block footer%}
{%endblock %}