{%extends 'generalPageStyled.html'%}

{% block linkBlock%}
<link rel="stylesheet" href="/static/CSS/displayQuizCode.css">
{% endblock%}
{% block mainBlock%}
{% endblock%}
{% block mainBody%}
<p id="quizName">{{quizName}}</p>
<p id="quizCode">{{quizCode}}</p>
<form id="playForm" action="/moodBefore/{{quizCode}}/{{user}}">
    <button type="submit" id="playButton" class="btn btn-success">Play the Quiz</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock%}