<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Quiz</title>

<body>
    <h1>Edit Question and Answer</h1>
    <form method="POST">
        <label for="new_question">New Question:</label>
        <input type="text" name="new_question" value="" required><br>
        <label for="new_answer">New Answer:</label>
        <input type="text" name="new_answer" value="" required><br>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>

        
    
</html>

