{%extends 'mainTemplate.html'%}

{% block linkBlock%}
<link rel="stylesheet" href="static/CSS/Log on.css">
{% endblock%}

{% block mainBlock%}
<title>Forgot Password</title>
{% endblock%}

{% block mainBody%}
<section class="loginBox">
    <h1>FORGOT PASSWORD</h1>
    <form id="forgotPassword" method="post" action="/securityQuestionFunction">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="securityQuestion">Security Question:</label></br>
        <select id="securityQuestion" name="securityQuestion" required>
            <option>What is the name of your first pet?</option>
            <option>In what city were you born?</option>
            <option>What was your childhood nickname?</option>
            <option>What is the middle name of your oldest sibling?</option>
        </select></br>
        <label for="securityAnswer">Answer</label>
        <input type="text" id="securityAnswer" name="securityAnswer" required>
        <button type="submit">Login</button>
    </form><br>
    <a href="/login">Back to Login</a>
    <span id="errorMessage"></span><br>
    <label for="createAccount">Don't have an account? You can create one here.</label>
    <form action="/createAccount">
    <button id="createAccount" type="submit">Create Account</button>
    </form>
</section>
{% endblock%}
