{%extends 'mainTemplate.html'%}

{% block linkBlock%}
<link rel="stylesheet" href="static/CSS/Log on.css">
{% endblock%}
{% block mainBlock%}
<title>Forgot Password</title>
{% endblock%}

{% block mainBody%}
<section class="loginBox forgot-password-box">
    <div class="log-in-half">
    <h2>Recover Password</h2>
    <form id="forgotPassword" method="post" action="/securityQuestionFunction">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="securityQuestion">Security Question:</label>
        <select id="securityQuestion" name="securityQuestion" required>
            <option>What is the name of your first pet?</option>
            <option>In what city were you born?</option>
            <option>What was your childhood nickname?</option>
            <option>What is the middle name of your oldest sibling?</option>
        </select>
        <label for="securityAnswer">Answer</label>
        <input type="text" id="securityAnswer" name="securityAnswer" required>
        <button type="submit">Create New Password</button>
    </form>
    <a href="/login">Back to Login</a>
    <span id="errorMessage"></span>
    </div>
</section>
{% endblock%}
{% block footer%}
{%endblock %}