<!-- templates/index.html -->
{% extends 'mainTemplate.html'%}
{% block mainBlock%}
<link rel="stylesheet" href="/static/CSS/index.css">
<h1>Select a quiz to edit</h1>
{% endblock%}

{% block mainBody%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Editor</title>
</head>
<body>
    <h1>Your Quizzes</h1>
    <ul>
        {% for quiz in quizzes %}
            <li>{{ quiz[1] }}</li>
            <form action="/edit/{{user}}/{{QuizID}}" method="GET">
                <button type = "submit" class="btn btn-success">Edit Quiz</button>
            </form>
        {% endfor %}
    </ul>
</body>
{% endblock%}
</html>
