<!DOCTYPE html>
<html>
    <header>
    <link rel="stylesheet" href="static/CSS/Log on.css">
    </header>
    <head>
        <title>IQG - Login</title>
        <script></script>
    </head>

    <body>
        <nav class="navbar-legal-and-general">
            <a class="navbar-logo" href="Main Page.html">
              Legal & General
              <img src="static/img/L&G_Logo.svg" width="30" height="30" class="d-inline-block align-top" alt="Legal & General Logo">
            </a>
          </nav>

        <section class="loginBox">
            <h1>LOG IN REQUIRED</h1>
            <form id="adminLogin">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="button">Login</button>
            </form><br>
            <label for="Create Account">Don't have an account? You can create one here.</label>
            <button type="button" href="Create Account.html">Create Account</button>
        </section>
    </body>
</html>