<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="/static/CSS/nav__Bar.css">

        <!--Icon library for social media logo's in footer source:https://www.w3schools.com/howto/howto_css_social_media_buttons.asp-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block linkBlock%}
        {% endblock%}
        <nav class="navbar-legal-and-general">
            <div class="userDisplay"><p id="accountDetails"></p><p id="moodChecker"></p></div>
            <a class="navbar-logo" id="navbar-logo">
              <img src="/static/img/L&G_Logo.svg" width="50" height="50" alt="Legal & General Logo">
            </a>
            <p class="logoText" id="logoText">Legal & General</p>
        </nav>
    </header>
    <head>
            {% block mainBlock%}
            <h1>Template page</h1>
            {% endblock%}
    </head>
    <body>
    <p>
        {%if data%}
        {{data}}
        {%endif%}
    </p>
    {% block mainBody%}
    {% endblock%}
    <script src="/static/JS/navBar.js"></script>
    </body>
    <footer> <!--Footer that links to social media--->
        <a href="https://www.facebook.com/legalandgeneral/" target="_blank" class="fa fa-facebook fa-2x"></a> <!--Font Awesome icons link to social media pages of legal and general-->
        <a href="https://twitter.com/landg_uk" target="_blank" class="fa fa-twitter fa-2x"></a>
        <a href="https://www.linkedin.com/company/legal-&-general" target="_blank" class="fa fa-linkedin fa-2x"></a>
        <a href="https://www.youtube.com/legalandgeneral" target="_blank" class="fa fa-youtube fa-2x"></a>
        <a href="https://www.instagram.com/legalandgeneral/" target="_blank" class="fa fa-instagram fa-2x"></a>
    </footer>
</html>