<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/CSS/nav__Bar.css">

        <!--Icon library for social media logo's in footer source:https://www.w3schools.com/howto/howto_css_social_media_buttons.asp-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- link to bootstrap taken from https://getbootstrap.com/docs/4.4/getting-started/introduction/ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/CSS/nav__Bar.css">
        {% block linkBlock%}
        {% endblock%}
        <!-- <nav class="navbar-legal-and-general"> -->          
            <div class="userDisplay"><p id="accountDetails"></p><p id="moodChecker"></p></div>
            <a class="navbar-logo" id="navbar-logo">
            
              <img src="/static/img/L&G_Logo.svg" width="50" height="50" alt="Legal & General Logo">
            </a>
                     
        <!-- navbar inspired from concepts in bootstrap https://getbootstrap.com/docs/4.0/components/navbar/ -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            {% block navBarContent%}
            <a id=navbar-logo class="navbar-brand" href="#">
                <img src="/static/img/L&G_Logo.svg" class="d-inline-block align-top" alt="">
                Legal & General
              </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a id="account-details" class="nav-item nav-link">Account Details</a>
                <a id="available-quizzes" class="nav-item nav-link">Available Quizzes</a>
                <a id="moodChecker" class="nav-item nav-link">Mood</a>
                <a id="create-quiz" class="nav-item nav-link">Create Quiz</a>
                </div>
            </div>
            <div class="user-display">
                <p id="displayUser"></p>
                <p class="mood-image" id="displayMood"></p>
            </div>
            {% endblock%}
            </nav>
        </nav>
            {% block mainBlock%}
            {% endblock%}
    </head>
    <body>
    {% block mainBody%}
    {% endblock%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/JS/navBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Footer w/ social media links-->
    {% block footer%}
    <footer class="text-center bg-body-tertiary">
        <div class="container pt-4">
          <section class="mb-4">
            <a class="btn btn-link btn-floating btn-lg text-body m-1" href="https://www.facebook.com/legalandgeneral/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>     
            <a class="btn btn-link btn-floating btn-lg text-body m-1" href="https://twitter.com/landg_uk" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-body m-1" href="https://www.linkedin.com/company/legal-&-general" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-body m-1" href="https://www.youtube.com/legalandgeneral" target="_blank"><i class="fa fa-youtube-play fa-2x"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-body m-1" href="https://www.instagram.com/legalandgeneral/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
          </section>
        </div>
      </footer>
      {% endblock%}
      </body>
</html>