{% extends 'mainTemplate.html'%}
{% block linkBlock%}
<style>
    body {
        margin:0;
        padding:0;
    }
</style>
{% endblock%}
{% block mainBlock%}
<h1>Mood Checker</h1>
{% endblock%}
{% block mainBody%}
<div class="slider">
    <p class="material-icons" id="emoji" style="font-size: 50px;">
        &#128528;
    </p>
    <form action="/moodChecker/{{user}}" id="moodForm" method="post">
        <input type="range" min="0" max="4" value="2" id="slider" name="slider">
        <button type="submit">Update your mood</button>
    </form>
</div>
<script>
    var slider = document.getElementById("slider");
    var emoji = document.getElementById("emoji");
    let emojiList = ["&#128549","&#128577","&#128528","&#128578","&#128512"];
    slider.oninput=function() {
        emoji.innerHTML = emojiList[slider.value];
    }
</script>
{% endblock%}