{%extends 'generalPageStyled.html'%}


{%block mainBlock%}
<h2>Quiz Data</h2>
<form id='myForm' onsubmit="return loadName()">
  <label>Quiz Name<input type = "text" name = "quizName"><br></label>
  <label>Genre<input type = "text" name = "genre"><br></label>
  <label>Author<input type = "text" name = "author"><br></label>

  <button type = "submit"> submit </button>
</form>
<span id='txt'></span>

<script>
  function loadName() {
    var quizName = document.forms["myForm"]["quizName"].value;
    var genre = document.forms["myForm"]["genre"].value;
    var author = document.forms["myForm"]["author"].value;
    params = 'quizName='+quizName+'&genre='+genre+'&author='+author;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/QuizHistory/AddQuiz', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>

{%endblock%}
