<html>
    <header>
        <link rel="stylesheet" href="/static/CSS/UserEnd.css">
    </header>
    <body>
        <p id="DATA">{{data}}</p> 
        <form class="Quiz" method="get" action="/userEnd/{{QuizID}}/{{UserID}}/{{user}}">
            <section class="QuestionSection">
                <section>
                    <span id="QuestionNumber">Quiz Empty</span><br>
                    <span id="Question", name="Question"></span>
                </section>
            </section>
        </form>
        <form action="/userEnd/{{QuizID}}/{{UserID}}/{{user}}" method="post" class="Quiz">
            <section id="AnswerSection" class="AnswerSection">
            </section>
            <input id="POINTS"name="POINTS" value="5" type=""></input>
        </form>
    </body>
    <script src="/static/JS/User End.js"></script>
</html>