{% extends 'mainTemplate.html'%}
{% block linkBlock%}
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
<link href="/static/CSS/viewMoods.css" rel="stylesheet">
{% endblock%}
{% block mainBlock %}
{% endblock%}
{% block mainBody%}
<h1 class="heading-center">View your scores</h1>
<table class="table table-striped" id="quizScores">
    <tr>
        <th>Quiz Name</th>
        <th>Your Score</th>
        <th>Maximum Score</th>
    </tr>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/JS/viewScores.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
{% endblock%}